public/src/pug/print.pug
doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/material.min.css")
        link(rel="stylesheet" href="css/svg.css")
        link(rel="stylesheet" href="css/print.css")
        script(src="js/vendor/require.min.js" data-main="js/main-print")
        title Печать отчета
    body
        section.prn-portrait
            header
        section.prn-landscape
            h4 График
            #svg-holder
        #templates(style='display: none')
            template#top-grid
                .cst-logo-png
                    .cst-logo-jpg
                        .mdl-grid
                            .mdl-cell.mdl-cell--12-col
                                h4 Акт № {{docnum}} от {{date}}
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Исполнитель:
                            .mdl-cell.mdl-cell--10-col
                                span {{performer}} 
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Операторы:
                            .mdl-cell.mdl-cell--10-col(v-if='staff1 || staff2 || staff3')
                                span.prn-customer {{staff1}} {{staff2}} {{staff3}}
                            .mdl-cell.mdl-cell--10-col.cst-empty-field(v-else)
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Подписи:
                            .mdl-cell.mdl-cell--2-col.cst-empty-field
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.mdl-cell--2-offset.cst-empty-field
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.mdl-cell--2-offset.cst-empty-field
                                | &nbsp;
                        hr
                        .mdl-grid
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Заказчик:
                            .mdl-cell.mdl-cell--10-col(v-if='customer')
                                span.prn-customer {{customer}} 
                            .mdl-cell.mdl-cell--10-col.cst-empty-field(v-else)
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Ответственные:
                            .mdl-cell.mdl-cell--10-col(v-if='supervisor1 || supervisor2 || supervisor3')
                                span.prn-customer {{supervisor1}} {{supervisor2}} {{supervisor3}}
                            .mdl-cell.mdl-cell--10-col.cst-empty-field(v-else)
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Подписи:
                            .mdl-cell.mdl-cell--2-col.cst-empty-field
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.mdl-cell--2-offset.cst-empty-field
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.mdl-cell--2-offset.cst-empty-field
                                | &nbsp;
                            .mdl-cell.mdl-cell--2-col.cst-align-right
                                strong Месторождение:
                            .mdl-cell.mdl-cell--10-col
                                span {{field}}
                                | &nbsp;
                                span (куст №
                                | &nbsp;
                                span {{bush}},
                                | &nbsp;
                                span скваж. №
                                | &nbsp;
                                span {{well}}),
                                | &nbsp;
                                span тип скважины
                                | &nbsp;
                                span {{welltype}}
                        table#stages
                            thead
                                tr
                                    td(align='center') Дата начала
                                    td(align='center') Продолж.
                                    td(align='center') Сумм. объем, м³
                                    td(align='center') Средн. плотн., кг/м 
                                    td(align='center') Тип работ
                                tr
                                    td(align='center') {{begin}}
                                    td(align='center') {{duration}}
                                    td(align='center') {{volume}}
                                    td(align='center') {{density}}
                                    td(align='center') {{worktype}}
                        h4 Этапы закачки
                        table#stages
                            thead
                                tr
                                    th №
                                    th Название этапа
                                    th Длит.
                                    th Объем м³
                                    th Ср. расход м³/ч.
                                    th Ср.плотн. кг/м 
                                    th Ср. давл., атм
                            tbody

public/print.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><link rel="stylesheet" href="css/material.min.css"><link rel="stylesheet" href="css/svg.css"><link rel="stylesheet" href="css/print.css"><script src="js/vendor/require.min.js" data-main="js/main-print"></script><title>Печать отчета</title></head><body><section class="prn-portrait"><header></header></section><section class="prn-landscape"><h4>График</h4><div id="svg-holder"></div></section><div id="templates" style="display: none;"><template id="top-grid"><div class="cst-logo-png"><div class="cst-logo-jpg"><div class="mdl-grid"><div class="mdl-cell mdl-cell--12-col"><h4>Акт № {{docnum}} от {{date}}</h4></div><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Исполнитель:</strong></div><div class="mdl-cell mdl-cell--10-col"><span>{{performer}} </span></div><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Операторы:</strong></div><div class="mdl-cell mdl-cell--10-col" v-if="staff1 || staff2 || staff3"><span class="prn-customer">{{staff1}} {{staff2}} {{staff3}}</span></div><div class="mdl-cell mdl-cell--10-col cst-empty-field" v-else>&nbsp;</div><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Подписи:</strong></div><div class="mdl-cell mdl-cell--2-col cst-empty-field">&nbsp;</div><div class="mdl-cell mdl-cell--2-col mdl-cell--2-offset cst-empty-field">&nbsp;</div><div class="mdl-cell mdl-cell--2-col mdl-cell--2-offset cst-empty-field">&nbsp;</div></div><hr><div class="mdl-grid"><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Заказчик:</strong></div><div class="mdl-cell mdl-cell--10-col" v-if="customer"><span class="prn-customer">{{customer}} </span></div><div class="mdl-cell mdl-cell--10-col cst-empty-field" v-else>&nbsp;</div><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Ответственные:</strong></div><div class="mdl-cell mdl-cell--10-col" v-if="supervisor1 || supervisor2 || supervisor3"><span class="prn-customer">{{supervisor1}} {{supervisor2}} {{supervisor3}}</span></div><div class="mdl-cell mdl-cell--10-col cst-empty-field" v-else>&nbsp;</div><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Подписи:</strong></div><div class="mdl-cell mdl-cell--2-col cst-empty-field">&nbsp;</div><div class="mdl-cell mdl-cell--2-col mdl-cell--2-offset cst-empty-field">&nbsp;</div><div class="mdl-cell mdl-cell--2-col mdl-cell--2-offset cst-empty-field">&nbsp;</div><div class="mdl-cell mdl-cell--2-col cst-align-right"><strong>Месторождение:</strong></div><div class="mdl-cell mdl-cell--10-col"><span>{{field}}</span>&nbsp;<span>(куст №</span>&nbsp;<span>{{bush}},</span>&nbsp;<span>скваж. №</span>&nbsp;<span>{{well}}),</span>&nbsp;<span>тип скважины</span>&nbsp;<span>{{welltype}}</span></div></div><table id="stages"><thead><tr><td align="center">Дата начала</td><td align="center">Продолж.</td><td align="center">Сумм. объем, м³</td><td align="center">Средн. плотн., кг/м </td><td align="center">Тип работ</td></tr><tr><td align="center">{{begin}}</td><td align="center">{{duration}}</td><td align="center">{{volume}}</td><td align="center">{{density}}</td><td align="center">{{worktype}}</td></tr></thead></table><h4>Этапы закачки</h4><table id="stages"><thead><tr><th>№</th><th>Название этапа</th><th>Длит.</th><th>Объем м³</th><th>Ср. расход м³/ч.</th><th>Ср.плотн. кг/м </th><th>Ср. давл., атм</th></tr></thead><tbody></tbody></table></div></div></template></div></body></html>
